<!DOCTYPE html>
<html>
    <head>
        <title>Add</title>
    </head>
    <body>
        <h1>Add a Trip</h1>
            <form action='/dashboard' method='post'>
            {% csrf_token %}
                <p>Destination:<input type="text" name="name"></p>
                <p>Description:<input type="text" name="Username"></p>
                <p>Travel Date From:<input type="date" name="travel_date" min="2018-04-17"></p>
                <p>Travel Date To:<input type="date" name="travel_date" max="9999-04-17"></p>
                <input type="submit" value="Add">
            </form>
            <a href="/first_app/dashboard">Home</a>
            <br>
            <a href="/first_app/index">Log Out</a>
    </body>
</html>